.p {
  width: 30%;
  height: 30vh;
  background-color: white;
  margin: 20px 10px;
  border: 2px solid rgb(226, 226, 226);
  border-radius: 10px 10px 0px 0px;
  overflow: hidden;
}

.p-browser {
  height: 20px;
  background-image: linear-gradient(
    to right top,
    #afafaf,
    #b3c3d0,
    #a8dbe1,
    #b3f2d6,
    #eaffbc
  );
  display: flex;
  align-items: center;
  position: sticky;
  z-index: 2;
}

.p-circle {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  margin: 3px;
  background-color: white;
}

.p-img {
  width: 100%;
  transition: all 10s ease;
}

.p:hover .p-img {
  transform: translateY(-50%);
}

/*Tooltip text*/
.tooltip {
  position: relative;
  color: #00b4ab;
}

.tooltip .tooltip-text {
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  line-height: 1.5em;
  visibility: hidden;
  max-width: 300px;
  background-color: #00b4ab;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 10px;
  position: absolute;
  z-index: 1;
  opacity: 0;
  transition: 0.3s;
  transform: translate3d(0px, 20px, 0px);
}

.tooltip .tooltip-text::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #00b4ab transparent transparent transparent;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
  transform: translate3d(0px, 0px, 0px);
}

@media screen and (max-width: 480px) {
  .p {
    width: 200px;
    height: 10vh;
    flex-direction: column;
  }
}
