.e {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carde {
    width: 90%;
    max-width: 440px;
    color: #fff;
    text-align: center;
}

.ed-title {
    color: black;
}

.carde h2 {
    font-size: 50px;
    font-weight: 600;
}

.carde p {
    font-style: 18px;
}

.e-left {
    flex: 1;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 50px;
    height: 340px;
    border: 1px solid rgba(255,255,255,0.3);
    background: rgba(255,255,255,0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0,0,0,0.1);
    backdrop-filter:blur(5px);
}

.e-left img {
    width: 100px;
    padding-bottom: 20px;
}

.e-left h2 {
    font-size: 28px;
    font-weight: 600;
}

.e-left h4 {
    padding-bottom: 10px;
}

.e-left p {
    width: 200px;
}

.e-mid {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.e-mid img {
    width: 200px;
    border-radius: 50%;
}

.e-mid svg {
    width: 200px;
    padding: 30px;
}

.e-right {
    flex: 1;
    height: 340px;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 50px;
    border: 1px solid rgba(255,255,255,0.3);
    background: rgba(255,255,255,0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0,0,0,0.1);
    backdrop-filter:blur(5px);
}

.e-right img {
    width: 130px;
    padding-bottom: 20px;
}

.e-right h2 {
    font-size: 28px;
    font-weight: 600;
}

.e-right h4 {
    padding-bottom: 10px;
}

.e-right p {
    width: 200px;
}

.card-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 480px) {
    .e {
        width: 225px;
        flex-direction: column;
    }

    .card-content {
        flex-direction: column;
    }

    .carde h2 {
        font-size: 20px;
        font-weight: 100;
    }

    .e-mid {
        display: none;
    }

    .e-left {
        width: 100px;
    }

    .e-left img {
        width: 100px;
        padding-bottom: 20px;
    }
    
    .e-left h2 {
        font-size: 20px;
        font-weight: 100;
    }
    
    .e-left h4 {
        font-size: 12px;
        padding-bottom: 10px;
    }
    
    .e-left p {
        font-size: 10px;
        width: 100px;
    }

    .e-right {
        width: 100px;
    }

    .e-right img {
        width: 100px;
        padding-bottom: 20px;
    }
    
    .e-right h2 {
        font-size: 20px;
        font-weight: 100;
    }
    
    .e-right h4 {
        font-size: 12px;
        padding-bottom: 10px;
    }
    
    .e-right p {
        font-size: 10px;
        width: 100px;
    }
}